body {
    /*color: white;*/
}

.list-group, .list-group-item {
    text-align: left;
    color: white;
    background-color: rgb(34, 34, 34);
}

.wd-suggested-post-color {
    color: rgb(77, 77, 77);
}

.post, .center-post {
    background-color: rgb(34, 34, 34);
}

.container {
    position: relative;
    text-align: left;
    background-color: rgb(6, 6, 6);
    width: 100%;
    padding: 0;
}

#follow, #navigation {
    background-color: rgb(6, 6, 6);
    color: white;
}

.nav-title {
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

body {
    background-color:  rgb(6, 6, 6);
}


@media (min-width: 576px) {
    .nav-text {
        display: none;
    }
    .follow {
        display: none;
    }
    .entertainment {
        display: none;
    }
    .nav-title {
        display: none;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .nav-text {
        display: none;
    }
    .tweet-btn {
        padding-left: 2px;
        padding-right: 2px;
    }
    .follow {
        display: none;
    }
    .entertainment {
        display: inline;
    }
    .nav-title {
        display: inline;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .nav-text {
        display: inline;
    }
    .follow {
        display: none;
    }
    .entertainment {
        display: inline;
    }
    .nav-title {
        display: none;
    }}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .nav-text  {
        display: inline;
    }
    .follow {
        display: block;
    }
    .entertainment {
        display: inline;
    }
    .nav-title {
        display: inline;
    }

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .nav-text  {
        display: inline;
    }
    .follow {
        display: block;
    }
    .entertainment {
        display: inline;
    }
    .nav-title {
        display: inline;
    }
}